:root {
    --amarillo: #F2CD88;
    --naranja: #F2AB6D;
    --rosa: #F2C4B3;
    --rojo: #F26B6B;
    --oscuro: #8C4F4F;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: Geneva, Verdana, sans-serif;
}

.pagina {
    margin-left: 200px;
    padding: 1px 16px;
    /* height: 100%; */
    background-color: floralwhite;
}

.contenido {
    width: 80%;
    margin: auto;
    /*background-color: yellow;*/
}

/* Texto general */
h1 {
    text-align: center;
}

/* Imágenes portada */
.dos_columnas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
}

.col {
    width: 45%;
    margin: auto 2%;
}

.col img {
    max-width: 100%;
    display: block;
}

/* Efecto hover de las imágenes */
.contenedor_imagen {
    position: relative;
    /* width: 50%; */
}

.overlay {
    position: absolute;
    /*top: 0;*/
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--oscuro);
}

.contenedor_imagen:hover .overlay {
    opacity: 1;
    bottom: 0;
    height: 100%;
}

.texto {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Menú de las recetas */
.barra_recetas {
    overflow: hidden;
    background-color: var(--oscuro);
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

.barra_recetas a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 35px;
    text-decoration: none;
    font-size: 17px;
}

.barra_recetas a:not(.no) {
    border-left: 5px solid floralwhite;
}

.barra_recetas a:hover {
    background-color: var(--amarillo);
    color: black;
}

/* Recetas */
.receta {
    border-top: 2px solid var(--amarillo);
    margin-top: 55px;
}

.receta .dos_columnas {
    margin-top: 15px;
}

.receta .detalles {
    background-color: #f0eade;
    width: fit-content;
    margin: 35px auto auto auto;
    display: flex;
    flex-wrap: wrap;
}

.receta .detalles p {
    padding: 0px 30px;
}

.receta .detalles .negrita {
    font-weight: bold;
}

.receta .nombre {
    text-align: center;
    font-size: 2em;
    margin-top: 0;
}

.receta .ingredientes {
    border: 1px solid var(--amarillo);
    padding: 0 40px 16px 40px;
    width: fit-content;
    margin: auto;
    list-style-type: circle;
}

.receta .ingredientes p,
.receta .pasos p {
    font-weight: bold;
}

.receta .ingredientes li {
    margin-left: 50px;
}

.receta .pasos p {
    font-size: 22px;
    text-align: center;
    color: var(--oscuro);
}

.receta .pasos li {
    margin-bottom: 16px;
}

.receta .pasos ::marker {
    font-weight: bold;
    color: var(--oscuro);
}